.card--category:hover .image--category {
  filter: none;
}

.card--category:hover .info--category {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 420px) {
  .image--category,
  .card--category {
    filter: none !important;
  }

  .card--category:hover,
  .info--category {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
}
